.wrapperList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.list {
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .wrapperList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 11px;
  }
  .list {
    width: calc((100%-30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .wrapperList {
    gap: 15px;
  }
  .list {
    width: calc((100%-45px) / 4);
  }
}
